# Tasks

In [26]:
# Data frames.
import pandas as pd

# Machine Learning Library that contains example datasets.
import sklearn as skl

### Task 1: Source the Data Set

Import the Iris data set from the sklearn.datasets module.

Explain, in your own words, what the load_iris() function returns.

In [27]:
# Load the iris dataset.
df = pd.read_csv("https://gist.github.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")

In [28]:
# Have a look.
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [29]:
# Calculate the sum of the numbers from 1 to 10 inclusive.
sum = 0
for i in range(1, 11):
    sum += i
    print(sum)

1
3
6
10
15
21
28
36
45
55

### Task 2: Explore the Data Structure
 Print and explain the shape of the data set, the first and last 5 rows of the data, the feature names, and the target classes.

In [30]:
# Describe the data set.
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [31]:
# look at the data.
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [32]:
# Look at the keys
df.keys()

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [33]:
# The species of iris
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [34]:
# Shape
df['species'].shape

(150,)

In [35]:
# The sepal length
df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [36]:
# The petal lenght
df['petal_length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

In [37]:
# the petal width
df['petal_width']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

### Task 3: Summarize the Data
For each feature in the dataset, calculate and display:

-mean

-minimum

-maximum

-standard deviation

-median

In [38]:
# Statistics
stats = df.describe().T[['mean', 'min', 'max', 'std']]
stats['median'] = df.median(numeric_only=True) # select only the numeric columns

# Print results
print(stats)

                  mean  min  max       std  median
sepal_length  5.843333  4.3  7.9  0.828066    5.80
sepal_width   3.054000  2.0  4.4  0.433594    3.00
petal_length  3.758667  1.0  6.9  1.764420    4.35
petal_width   1.198667  0.1  2.5  0.763161    1.30

### Task 4: Visualize Features
Plot histograms for each feature using matplotlib.
Add appropriate titles and axis labels.

### Task 5: Investigate Relationships
Choose any two features from the data set and create a scatter plot of them.

Color-code the three different classes of the scatter plot points.

### Task 6: Analyze Relationship
Use numpy.polyfit to add a regression line to the scatter plot from Task 5.

### Task 7: Analyze Class Distributions
Create box-plots of the petal lengths for each of the three classes.

### Task 8: Compute Correlations
Calculate the correlation coefficients between the features.

Display the results as a heatmap using matplotlib.

### Task 9: Fit a Simple Linear Regression
For your two features in Task 5, calculate the coefficient of determination 
R
2
.

Re-create the plot from Task 6 and annotate it with the 
R
2
 value.

### Task 10: Too Many Features
Use seaborn to create a pairplot of the data set.

Explain, in your own words, what the pairplot depicts.

## End